#metatags_grid{ :style => 'margin: 10px;width: 450px;float: left;' }
  = render :partial => 'meta_tags/metatags_list', :locals => { :metatags => @metatags }

#rendered_action{ :style => 'float: left; width: 450px; margin-left: 5px;display: none;	' }

