%h2 New article
#tabs
  %ul
    %li= link_to 'Article details',   '#tabs-1'
    %li= link_to 'Article keywords',  '#tabs-2'
  #tabs-1
    = render 'form'
  #tabs-2
    = render 'shared/keywords'
    .spacer