/*======= css resets =======*/
html,body,div,form,img, h1, h2, h3, h4, h5, h6,
 iframe, p, span, ul, ol, li, fieldset, legend, hr {
	padding:0px;
	margin:0px;
	border:0px;
}
ul{
	text-indent:0px;
	list-style-type:none;
}
a{
	outline:0px;
}
/*====== general usage ======*/
.clear{
	clear:both;
	line-height:1px;
	font-size:1px;
}
.center{
	text-align:center;
}
.left{
	text-align:left;
}
.right{
	text-align:right;
}
.float_right{
	float:right;
}
.float_left{
	float:left;
}
h1{
	font-size:1.12em;
	font-family:"century gothic", Helvetica, Sans-serif;
}
h2{
	font-size:1em;
	font-family:"century gothic", Helvetica, Sans-serif;
}
h3{
	font-size:.93em;
	font-family:"century gothic", Helvetica, Sans-serif;
}
/* === */
div.hline1{
	background-image: url('/images/website_images/hline_bg.jpg ');
	background-color:white;
	height:10px;
	width:960px;
	overflow:hidden;
}
div.hline2{
	background-image: url('/images/website_images/hline2_bg.jpg ');
	background-color:white;
	height:10px;
	width:960px;
	overflow:hidden;
}
.hl1{ /*highlight 1 class*/
	color:#53860E;
}
.hl2{ /*highlight 2 class*/
	background-color:#d9f0b3;
	border:1px solid #badb89;
}
/* button styles */
a.button1{
	background:transparent url('/images/website_images/button_bg.gif') no-repeat right;
	padding:10px 4px 10px 0px;
	outline:0px;
	text-decoration:none;
}
a.button1 span{
	background:transparent url('/images/website_images/button_span.gif') no-repeat left;
	padding:10px 9px 10px 14px;
	color:white;
}
a.button2{
	background:transparent url('/images/website_images/button2_bg.gif') no-repeat right;
	padding:10px 5px 10px 0px;
	outline:0px;
}
a.button2 span{
	background:transparent url('/images/website_images/button2_span.gif') no-repeat left;
	padding:10px 5px 10px 10px;
	color:#666565;
}
/*site styles*/
html{
	background-image: url('/images/website_images/html_bg.jpg ');
	background-repeat:repeat-x;
	background-color:#3b5061;
}
body{
	font-size:.88em;
	font-family:Arial, Helvetica, "Sans-serif";
	text-align:center;
}
#wrapper{
	width:960px;
	margin:10px auto 10px auto;
	text-align:left;
}
#top{
	background:#2d2d2d url('/images/website_images/top_bg.jpg') no-repeat ;
	width:960px;
	height:100px;
}
#website_name{
	display:none;
}
#banner{
	background:transparent url('/images/website_images/banner_bg.jpg') no-repeat;
	background-color:#558c15;
	height:280px;
}
#banner #intro{
	color:#f5f5f5;
	float:left;
	display:inline;
	width:330px;
	font-size:1.3em;
	margin:60px 0px 0px 70px;
	text-shadow: #4f5a43 2px 2px;
}
#navigation{
	float:left;
	display:inline;
	width:430px;
	margin-left:525px;
	margin-top:36px;
}
/* navigation */
#nav{
}
#nav a, #nav a:active, #nav a:visited{
	text-transform:uppercase;
	text-decoration:none;
	color:white;
	font-size:14px;
}
#nav a:hover{
}
#nav li{
	float:left;
	display:block;
	margin-left:5px;
	display:inline;
}
#nav li a{
	padding:8px 0px;
	display:block;
	outline: 0;
}
#nav li a:active{

}
#nav #hola a{
	width:54px;
	text-align:center;
}
#nav #hola.active a, #nav #hola a:hover{
	background:transparent url('/images/website_images/home_button.gif') no-repeat top center;
	width:54px;
	text-align:center;
}
#nav #hola a:hover{
}
#nav #conoce a{
	width:76px;
	text-align:center;
}
#nav #conoce a:hover, #nav #conoce.active a{
	background:transparent url('/images/website_images/conoce_button.gif') no-repeat top center;
	width:76px;
	text-align:center;
}
#nav #crece{
	width:64px;
	text-align:center;
}
#nav #crece a:hover, #nav #crece.active a{
	background:transparent url('/images/website_images/crece_button.gif') no-repeat top center;
	text-align:center;
}
#nav #negocio a{
	width:110px;
	text-align:center;
}
#nav #negocio a:hover, #nav #negocio.active a{
	background:transparent url('/images/website_images/negocio_button.gif') no-repeat top center;
	width:110px;
	text-align:center;
}
#nav #contacto a{
	width:93px;
	text-align:center;
}
#nav #contacto a:hover, #nav #contacto.active a{
	background:transparent url('/images/website_images/contacto_button.gif') no-repeat top center;
	width:93px;
	text-align:center;
}
/* middle styles */

#mid{
	padding:40px 0px;
	overflow:hidden;
	height:100%;
	background:white url('/images/website_images/mid_bg.jpg') repeat-x;
}
#mid ul{
	list-style-position:inside;
	text-indent:-20px;
	list-style-type:disc;
	margin-left:24px;
	list-style-image: url('/images/website_images/bullet_whitebg.gif');
}
#mid ul li, #mid ol li{
	margin:6px 0px;
}
#mid ol{
	list-style-position:inside;
	text-indent:-20px;
	margin-left:26px;
}
#column ul, #column ol{
	list-style-type:none;
	margin-left:0px;
	text-indent:0px;
}
#slider{
	width:560px;
	float:left;
}
#slider_left, #slider_right{
	float:left;
	margin-top:120px;
	display:inline;
}
#slider_left{
	margin-left:20px;
	margin-right:20px;
}
.container{
	margin-top:40px;
	width:400px;
	height:190px;
	border:10px solid white;
}
#slider ul.pagination{
	display:none;
}
#slider_right{
	margin-left:10px;
}

/*
 * Required for slider
*/
.container {
	float:left;
	overflow:hidden;
	position:relative;
	cursor:pointer;
	margin-top:40px;
	width:400px;
	height:190px;
	border:10px solid white;
}
.slides {
	position:absolute; top:0; left:0;
}
.slides > div {
	position:absolute;
	top:0;
	width:400px;
	display:none;
}
/*
 * Optional slider styles
*/
#loopedSlider,#newsSlider {
	margin:0 auto;
	width:500px;
	position:relative;
	clear:both;
}
ul.pagination {
	list-style:none;
	padding:0;
	margin:0;
}
ul.pagination li  {
	float:left;
}
ul.pagination li a {
	padding:2px 4px;
}
ul.pagination li.active a {
	background:blue;
	color:white;
}
#mid a, #mid a:active, #mid a:visited{
}
#content, #column{
	float:left;
	display:inline;
	margin:0px 10px;
}
#content{
	width:540px;
	margin-left:40px;
	overflow:hidden;
}
#content h1{
	font-family:"century gothic", Helvetica, Sans-serif;
	font-size:2.35em;
	color:#4c4b4b;
	border-bottom:1px solid #cbcbcb;
	margin-bottom:20px;
}
#content p{
	padding:10px 0px;
}
#content .photo, #content img{
	background-color:white;
	padding:5px;
	border:1px solid #d5d5d5;
}
#column{
	width:230px;
	margin-left:80px;
}
#column h2.sb_header{
	font-size:14px;
	line-height:14px;
	text-align:center;
	padding:11px 0px 11px 0px;
	color:#373737;
	background-image: url('/images/website_images/side_header.gif ');
	background-repeat:no-repeat;
}
#column p{
	padding:10px 20px;
}
#column h2{
	font-size:16px;
	color:#4c4b4b;
}
#content .hl1{
	color:#53860e;
}
.sidebar{
	background-image: url('/images/website_images/side_bg.gif ');
	background-repeat:repeat-y;
	color:white;
}
.sidebar ul, .sidebar p, .sidebar ol{
	padding:10px 20px ;
}
.sidebar_bottom{
	background-image: url('/images/website_images/side_bottom.gif ');
	height:5px;
	line-height:1px;
	font-size:1px;
	background-repeat:no-repeat;
}
ul.services li{
	margin:0px;
	padding:0px;
	border:1px solid #79af15;
	list-style-image:none;
}
ul.services li a{
	line-height:14px;
	font-size:14px;
	padding:5px 5px 5px 5px;
	display:block;
	text-decoration:underline;
}
ul.services li a:hover{
	line-height:14px;
	font-size:14px;
	background-image: url('/images/website_images/sb_item_bg.gif ');
	background-repeat:repeat-x;
	background-color:#619504;
	display:block;
	padding:3px 5px 5px 10px;
	border:1px solid #578702;
	text-decoration:none;
}
#content a, #content a:active, #content a:visited{
}
#footer a, #footer a:active, #footer a:visited{
	color:#7fb919;
}
.sidebar a, .sidebar a:active, .sidebar a:visited{
	color:white;

}

/*footer*/
#footer{
	background:#2d2d2d url('/images/website_images/footer_bg.jpg');
	overflow:hidden;
	height:100%;
	color:#ababab;
	padding-top:20px;
	padding-bottom:20px;
}
#footer .hl1{
	color:#7Fb919;
}
#footer #subscribe{
	color:#fefefe;
	background-color:#75a51a;
	border:1px solid #a2c628;
}
.b360{
	width:280px;
	float:left;
	display:inline;
	background-image: url('/images/website_images/footer_separator.gif ');
	background-repeat:no-repeat;
	background-position:260px 5px;
	margin:0px 10px;
	padding:30px 0px 30px 0px;
}
.b360 ul,.b360 ol,
.b360 p,.b360 form,
.b360 h1,.b360 h2,.b360 h3,
.b360 h4,.b360 h5,.b360 h6{
	margin-right:60px;
}
.b360 h2{
	font-size:16px;
	font-weight:bold;
	padding-bottom:5px;
	border-bottom:1px solid #565656;
	margin-bottom:10px;
}
#contact_box{
	margin-left:60px;
}
#newsletter_box{
	background-image:none;
}
#newsletter label{
	padding:7px 0px;
	display:block;
	width:180
}
#newsletter .input_text{
	width:198px;
	background-color:#262626;
	border:1px solid #3a3a3a;
	color:#ababab;
	padding:4px 10px;
	display:inline;
	background-image: none;
}
#footer2{
	background-image: url('/images/website_images/footer_bottom.gif ');
	background-repeat:no-repeat;
	padding:25px 20px 10px 20px;
	color:white;

}
/**** section styles ****/

body.section #banner{
	background-image: url('/images/website_images/banner2_bg.jpg ');
	height:115px;
	overflow:hidden;
}
body.section #banner h1{
	color:#e7e7e7;
	margin-left:72px;
	font-size:32px;
	margin-top:20px;
}
body.section #banner h2{
	color:#e7e7e7;
	margin-left:72px;
	font-size:16px;
	font-weight:bold;

}
body.section #column{
	width:281px;
	margin:0px;
	padding:0px;
	margin-left:20px;
}
body.section #content{
	width:540px;
	margin:0px;
	margin-left:40px;
}
body.section #content h1{
	margin-left:10px;
}
body.section #content p{
	padding-left:10px;
	padding-right:10px;
}
body.section #column{
	/* background-image: url('/images/website_images/ '); */
}

body.section #column h2.sb_header {
	background-image: url('/images/website_images/sidebar2_top.jpg ');
	width:258px;
}
body.section .sidebar{
	background-image: url('/images/website_images/sidebar2_bg.jpg ');
	width:258px;
	padding-bottom:10px;
}
body.section .sidebar_bottom{
	background-image: url('/images/website_images/sidebar2_bottom.jpg ');
	height:9px;
}
.sidebar .separate{
	background-image: url('/images/website_images/sidebar_separator.jpg ');
	background-repeat:no-repeat;
	background-position:center bottom;
	padding-bottom:20px;
}
body.section #mid{
	padding-bottom:0px;
	background-image: url('/images/website_images/separator_style2.jpg ');
	background-position:302px 0px;
	background-repeat:repeat-y;
	padding:0px;
	background-color:white;
}
body.section #imid{
	background-image: url('/images/website_images/mid_style2.jpg ');
	background-repeat:no-repeat;
	height:100%;
	overflow:hidden;
	padding:40px 0px;
}
.slides div{
	background-color:#101801;
	color:#e9e9e9;
	width:400px;
}
.slides .preview_intro{
	padding-top:5px;
	height:50px;
}
.slides div div{
	background-color:transparent;
}
.slides p{
	padding:2px 10px;
	font-size:12px;
}
.slides .view_project{
	float:right;
	display:inline;
	width:150px;
	padding-right:10px;
}

/* table styles*/
table{
}
table.bordered{
	width:520px;
	border-top:1px solid #badb89;
	border-left:1px solid #badb89;
}
table.bordered th{
	padding:10px;
	border-bottom:1px solid #badb89;
	border-right:1px solid #badb89;
	background-color:#79af15;
	color:white;
}
table.bordered td{
	padding:10px;
	border-bottom:1px solid #badb89;
	border-right:1px solid #badb89;
}
table.bordered tr.alt{
	background-color:#ecffc9;
}
/*heading styles for content*/
#content h2{
	font-family:"century gothic", Helvetica, Sans-serif;
	font-size:1.9em;
	color:#4c4b4b;
	font-family:
}
#content h3{
	font-family:"century gothic", Helvetica, Sans-serif;
	font-size:1.6em;
	color:#4c4b4b;
	font-family:
}
#content h4{
	font-family:"century gothic", Helvetica, Sans-serif;
	font-size:1.4em;
	color:#4c4b4b;
	font-family:
}
#content h5{
	font-family:"century gothic", Helvetica, Sans-serif;
	font-size:1.3em;
	color:#4c4b4b;
	font-family:
}
#content h6{
	font-family:"century gothic", Helvetica, Sans-serif;
	font-size:1.2em;
	color:#4c4b4b;
	font-family:
}
/* form styles */
.forms{

}
.shadowed, .forms select{
	text-align:left;
	float:left;
	border:1px solid #badb89;
	padding:6px;
	outline:0px;
	background-image: url('/images/website_images/input_bg.jpg ');
	background-repeat:repeat-x;
}
.forms #contact_form_submit, .forms .input_submit{
	background-image: url('/images/website_images/input_submit_bg.jpg');
	background-color:#5e9203;
	border:1px solid #a2c628;
	width:auto;
	color:white;
}
.forms .recaptchatable #recaptcha_response_field{
	background-image: url('/images/website_images/input_bg.jpg ');
	padding: 3px;
}
label{
	display:block;
	clear:both;
	overflow:hidden;
	padding:10px 0px;
}
.forms label span{
	display:block;
	width:200px;
	float:left;
	margin-top:6px;
}
.forms .input_checkbox{
	text-align:left;
	width:20px;
}
.forms .input_radio{
	text-align:left;
	width:20px;
}
.forms .textarea{
	border:1px solid #badb89;
	padding:1em;
	width: 414px;
/*	width:492px; */
	margin:10px 0px;
}
.forms fieldset{
	border:1px solid #badb89;
	padding:10px 20px;
	margin:10px 0px;
}
.forms legend{
	color:#4c4b4b;
	font-size:.9em;
	padding:0px 10px;
}
.forms a span{
	width:auto;
	display:inline;
	float:none;
}

/* ------ small text ------- */

.small-text {
	font-size: 			80%;
	padding:				0;
}

/* ------ author box ------- */

.profile_pic {
	background-color:	#FFFFFF;
	border:						1px solid;
	padding:					8px;
}

/* ------ Post 			 ------- */
.post {
	border-top: 1px solid #CCCCCC;
	padding: 10px;
}


/* ------ 500 styles ------- */
html.p500{
	background-color:#e9ffed;
	background-image: url('/images/website_images/p500bg.jpg ');
}
html.p500 h1.center{
	font-family: "Century gothic", Arial, Helvetica;
	font-size:22px;
	margin:20px;
}
html.p500 p{
	padding:10px 0px;
}

div.comment
{
	padding: 10px 5px 10px 5px;
	min-height: 56px;
	border-bottom: 1px solid #e3e3e3;
	color: #333333;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 13px;
}

.comment .gravatar
{
	width: 72px;
	height: 62px;
	float: left;
}


html.login{
	background-image:none;
	background-color:#3e5469;
}

html.login fieldset{
	clear:both;
}

html.login p{
	padding:10px;
}

html.login fieldset{
	border:0px;
	margin:0px;
	padding:0px;
}

html.login #logo{
	background-image: url('/images/website_images/login-bg-logo.jpg');
	background-repeat:no-repeat;
	text-indent:-9999px;
	display:block;
	width:461px;
	height:69px;
	margin:0px auto;
}
#login_form{

}
#login_form, #user_new{
	background-image: 	url('/images/website_images/login-main-bg.png ');
	background-repeat:	repeat-x;
	padding:  					15px;
	background-color:		#ccc;
	width: 470px;
	margin: 10px auto 0px;
}

#user_new{
	width:		438px;
	margin:		0px auto;
	overflow:	hidden;
}

fieldset input[type=submit]{
	background-image:none;
	border:  		1px solid #ccc;
	margin:  		0px 5px;
	font-size:	16px;
	padding:  	6px;
}

fieldset input[type=submit]:active{
	margin-top:	2px;
	outline:		0px;
}

fieldset input[type=text], fieldset input[type=password] {
	width:   						426px;
	display: 						block;
	background-image: 	url("/images/website_images/input_bg.jpg ");
  background-repeat: 	repeat-x;
  border: 						1px solid #BADB89;
  padding: 						6px;
}

.content, .content a
{
	color: white;
	margin-top:20px;
}

.alert{
	padding:10px;
	background-color:#ffeee0;
	border:1px solid #ff3836;
}
.notice{
	padding:10px;
	background-color:#f5f5ff;
	border:1px solid #0055aa;
}
.field_with_errors{
	overflow:hidden;
}
