<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>  
  <head>  
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  
  </head>  
  <body>  
    <h1>Bienvenido a www.cloverinteractive.com, <%=h @user.person.first_name %></h1>  
    <p>Te haz unido exitosamente a nuestro sitio, tu nombre de usuario es: <%= @user.username %>
    <br/>
    Para activar tu cuenta solo haz click <a href="<%= h @url %>">aqui</a>. </p>  
    <p>Gracias que tengas un buen día!</p>  
  </body> 
</html>