%h1
  We are
  %span.hl1= " sorry!"
  
%p.center The page you requested was not found :(
%p.center Please choose a page from our menu.
%p.center
  %img{ :src => "../images/website_images/content/clover.jpg", :alt => "Clover interactive" }