<h2>New snippet</h2>
<div id="tabs">
  <ul>
    <li><%= link_to 'Create snippet', '#tabs-1' %>
  </ul>
  <div id="tabs-1">
    <%=  render 'form' %>  
  </div>
</div>

<br />
<%= link_to 'Back', article_snippets_path( @snippet.snippetable ) %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#new_snippet_menu_link').addClass('selected');
    $("#tabs").tabs();
    submit_button();
  });
</script>