%h2=  'Select an owner for this new snippet'
%p=   'Each snippet must belong a rightful owner.'

%form#owner_form{ :action => '/pages/new', :method => :get }
  %h3= 'Articles'
  = select :article, :id, @articles.collect { |article| [ article.title, article.id ] }, :include_blank => true



%script{ :type => 'text/javascript' }
  $(document).ready(function() {
  $('#new_snippet_menu_link').addClass('selected');
  $('#article_id').change(function() {
  $(location).attr("href", "/articles/" + $("#article_id").val() + "/snippets/new");
  });
  });

