%script{ :type => 'text/javascript'}
  //<![[CDADA
  function init()
  {
  var table = document.getElementsByTagName('table');
  table[0].style.width = '150%';
  }
  window.onload     = init;
  //]]>


%h2 Edit Page
= render 'form'

%script{ :type => 'text/javascript' }
  = remote_function :update => 'sidebar', :url => "/uploads/get_uploads/#{@article.id}/article"