%h2= "New article"
#tabs
  %ul
    %li= link_to 'Create article', '#tabs-1'
  #tabs-1
    = render 'form'
    .spacer

%script{ :type => 'text/javascript' }
  $(document).ready(function() {
  $('#main').addClass('nosidebar');
  $("#new_article_menu_link").addClass("selected");
  $("#tabs").tabs();
  $("#article_show_in_homepage").button( { icons: { primary: 'ui-icon-home' } } ); 
  $("#accordion").accordion({ clearStyle: true, header: 'h6', collapsible: true, active: 3 });
  $("#article_type").buttonset();
  submit_button();
  });
  setTimeout('$(".mceLayout").css("width", "100%");', 250);