<h1>Listing subsections</h1>

<table>
  <tr>
  </tr>

<% @subsections.each do |subsections| %>
  <tr>
    <td><%= link_to 'Show', subsections %></td>
    <td><%= link_to 'Edit', edit_subsections_path(subsections) %></td>
    <td><%= link_to 'Destroy', subsections, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New subsections', new_subsections_path %>