html > body .tabular p
{
overflow: hidden;
}

.icon {
    background-position: 0 40%;
    background-repeat: no-repeat;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 2px;
}

div.flash.error, #errorExplanation, #flashAlert {
text-indent: 25px;
color: brown;
min-height: 35px;
}

div.flash.success {
color: #005F00;
text-indent: 25px;
min-height: 35px;
}

div.flash.notice {
text-indent: 25px;
min-height: 35px;
}


div#flashError, #flashAlert {
-moz-background-clip: border;
-moz-background-inline-policy: continuous;
-moz-background-origin: padding;
background: #FFE3E3 url(/images/icons/exclamation.png) no-repeat scroll 8px 5px;
border-color: #DD0000;
border-style: solid none;
border-width: 2px medium;
clear: both;
font-weight: bold;
margin: 0 0 0.2em;
padding: 1em;
margin-bottom: 7px;
position: absolute;
z-index: 1;
width: 98.5%;
}

/* Since. 'success'.classify returns Succes for now the two are required.*/
div#flashSuccess, div#flashSucces {
-moz-background-clip: border;
-moz-background-inline-policy: continuous;
-moz-background-origin: padding;
background: #DFFFDF url(/images/icons/accept.png) no-repeat scroll 8px 5px;
border-color: #9FCF9F;
border-style: solid none;
border-width: 2px medium;
clear: both;
font-weight: bold;
margin: 0 0 0.2em;
padding: 1em;
margin-bottom: 7px;
position: absolute;
z-index: 1;
width: 98.5%;
}

div#flashNotice
{
-moz-background-clip: border;
-moz-background-inline-policy: continuous;
-moz-background-origin: padding;
background: #CFF2FF url(/images/icons/information.png) no-repeat scroll 8px 5px;
border-color: #00BCFF;
border-style: solid none;
border-width: 2px medium;
clear: both;
font-weight: bold;
margin: 0 0 0.2em;
padding: 1em;
margin-bottom: 7px;
position: absolute;
z-index: 1;
width: 98.5%;
}

#errorExplanation, #flashalert
{
-moz-background-clip: border;
-moz-background-inline-policy: continuous;
-moz-background-origin: padding;
background: #FFE3E3 url(/images/icons/exclamation.png) no-repeat scroll 8px 5px;
color: #550000
border: #DD0000 2px solid;
font-size: 1.1em;
margin-bottom: 12px;
padding: 4px 4px 4px 30px;
}

#errorExplanation h2
{
padding: 0;
margin: 0;
color: brown;
background: #FFE3E3;
}

.icon_add { background-image: url(/images/icons/add.png); }
.icon_edit { background-image: url(/images/icons/pencil.png); }
.icon_delete { background-image: url(/images/icons/delete.png); }
.icon_bullet_delete { background-image: url(/images/icons/bullet_delete.png); }
.icon_bullet_add { background-image: url(/images/icons/bullet_add.png); }
.icon_bullet_pencil { background-image: url(/images/icons/bullet_pencil.png); }
.icon_bullet_page { background-image: url(/images/icons/bullet_page.png); }
.icon_bullet_page_world { background-image: url(/images/icons/bullet_page_world.png); }
.icon_page_add { background-image: url(/images/icons/page_add.png); }
.icon_back { background-image: url(/images/icons/resultset_previous.png); }
.pdf { background-image: url(/images/icons/page_white_acrobat.png); }
.doc, .docx { background-image: url(/images/icons/page_white_word.png); }
.xls, .xlsx { background-image: url(/images/icons/page_excel.png); }
.ppt, .pptx { background-image: url(/images/icons/page_white_powerpoint.png); }

.tabular p
{
clear: left;
height: 1%;
margin: 0;
padding: 5px 0 8px 180px;
}

.tabular label {
float: left;
font-weight: bold;
margin-left: -180px;
text-align: right;
width: 175px;
}

hr
{
-moz-background-clip: border;
-moz-background-inline-policy: continuous;
-moz-background-origin: padding;
background: #EEEEEE none repeat scroll 0 0;
border: 0 none;
height: 1px;
width: 100%;
}


input, select
{
margin-bottom: 1px;
margin-top: 1px;
vertical-align: middle;
}

.required
{
color: #BB0000;
}

table.list
{
    border: medium none;
    border-collapse: collapse;
    margin-bottom: 4px;
    width: 100%;
}

table.list tbody tr:hover
{
    background-color:#FFFFDD;
}

.splitcontentright
{
    float: right;
    width: 49%;
}

.box h3
{
    font-weight: bold;
}

.splitcontentleft
{
    float: left;
    width: 49%;
}

div.row {
  clear: both;
  padding-top: 5px;
  }

div.row span.label {
  float: left;
  width: 170px;
  text-align: right;
  }

div.row span.formw {
  float: right;
  width: 335px;
  text-align: left;
  }
div.spacer {
  clear: both;
  }


#sidebar h3
{
    border-bottom: 1px solid #DCDCDC;
    padding: 6px 8px;
}

#sidebar h3
{
    color: #666666;
    font-size: 14px;
    margin-top: 14px;
}

h3, h4
{
    font-weight: normal;
}

.box
{
    background-color: #FCFCFC;
    border: 1px solid #E4E4E4;
    color: #505050;
    line-height: 1.5em;
    margin-bottom: 10px;
    padding: 6px;
}

table.list tr a
{
    color: #333333;
}

table.list tr a:hover
{
    text-decoration: underline;
}

table.list thead th {
    border-color: -moz-use-text-color -moz-use-text-color #999999;
    border-style: none none solid;
    border-width: medium medium 1px;
    font-size: 9px;
    font-weight: normal;
    padding: 0 3px 3px;
    text-transform: uppercase;
}

table.list tbody td, table.list tbody tr td
{
    border-bottom: 1px solid #DDDDDD;
    font-size: 11px;
    padding: 4px 10px 4px 3px;
}

table.list td
{
    vertical-align: top;
}

table.list th
{
    background-color: #FFFFFF;
}

tr.odd
{
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #EAF7FF none repeat scroll 0 0;
}

tr.odd, table.list tbody tr.odd:hover
{
    color:#555599;
}

tr
{
    text-align: center;
    white-space: nowrap;
}

h2
{
    background-color: #EDF3FE;
    color: #000000;
    font-size: 14px;
    margin: -6px -10px 10px;
    padding: 10px 20px;
}

h2, h3, h4
{
    border-bottom: 0 none;
}

h1, h2, h3, h4
{
    font-family: "Lucida Grande", arial, sans-serif;
}

#header, #top-menu
{
margin: 0;
}

fieldset label
{
font-weight: bold;
}


#header
{
height: 7em;
padding: 8px 8px 0;
background: #222 url(/images/brillo.png) repeat-x scroll 0 0;
position: relative;
}

#account
{
float: right;
}

#top-menu ul
{
padding: 0 21px;
margin: 0;
}

#top-menu
{
-moz-background-clip: border;
-moz-background-inline-policy: continuous;
-moz-background-origin: padding;
background: #000000 repeat-x scroll 0 0;
color: #FFFFFF;
font-size: 10px;
height: 21px;
padding: 0;
position: relative;
}

#top-menu li, #top-menu #loggedas
{
color: #DDDDDD;
line-height: 21px;
margin-right: 4px;
}

#top-menu li
{
float: left;
list-style-type: none;
margin: 0;
padding: 0;
white-space: nowrap;
}

#top-menu li a {
color: #999999;
font-weight: normal;
padding: 4px 5px;
}

#top-menu a
{
color: #FFFFFF;
font-weight: bold;
margin-right: 8px;
}

#top-menu a:hover
{
color: white;
}

#header, #top-menu { margin: 0; }

#main {
background-color: #EEEEEE;
}

#main {
-moz-background-clip: border;
-moz-background-inline-policy: continuous;
-moz-background-origin: padding;
background: #EEEEEE none repeat scroll 0 0;
margin:8px 24px 0;
}

#main-menu
{
margin: 0 24px;
}

#main-menu
{
bottom: 0;
left: 6px;
margin-right: -500px;
position: absolute;
}

#main-menu ul {
margin: 0;
padding: 0;
}

#main-menu li {
float: left;
list-style-type: none;
margin: 0 2px 0 0;
padding: 0;
white-space: nowrap;
}

#main-menu li a.selected, #main-menu li a.selected:hover {
background-color: #EEEEEE;
color: #111111;
font-weight: bold;
}

#main-menu li a.selected, #main-menu li a.selected:hover {
-moz-background-clip: border;
-moz-background-inline-policy: continuous;
-moz-background-origin: padding;
background: #EEEEEE none repeat scroll 0 0;
color: #000000;
}

#main-menu li a {
background-color: #666666;
font-weight: normal;
padding: 4px 8px 6px;
margin: 0;
}

#main-menu li a:hover {
-moz-background-clip: border;
-moz-background-inline-policy: continuous;
-moz-background-origin: padding;
background: #999999 none repeat scroll 0 0;
text-decoration: none;
}

#main-menu li a {
color:#FFFFFF;
display:block;
font-weight:bold;
margin:0;
padding:4px 10px;
text-decoration:none;
}

table td
{
padding: 2px;
}


#login-form table td {
padding: 6px;
}

#login-form label
{
font-weight: bold;
}

#login-form table
{
background-color: #FFEBC1;
border: 2px solid #FDBF3B;
margin-left: auto;
margin-right: auto;
margin-top: 5em;
padding: 1em;
}

input, select {
margin-bottom: 1px;
margin-top: 1px;
vertical-align: middle;
}

body {
color: #484848;
font-family: Verdana,sans-serif;
font-size: 11px;
margin: 0;
min-width: 900px;
padding: 0;
}

#main.nosidebar #sidebar
{
display: none;
}

#sidebar
{
width: 26%;
}

#sidebar
{
float: right;
margin: 0;
min-height: 600px;
padding: 0;
position: relative;
width: 22%;
z-index: 9;
}

#content {
-moz-background-clip: border;
-moz-background-inline-policy: continuous;
-moz-background-origin: padding;
background: #FFFFFF none repeat scroll 0 0;
border-bottom: 1px solid #BBBBBB;
border-right: 1px solid #BBBBBB;
overflow: auto;
width: 70%;
}

#content
{
background-color: #FFFFFF;
border-right: 1px solid #DDDDDD;
margin: 0;
padding: 6px 10px 10px;
width: 75%;
z-index: 10;
}

#main.nosidebar #content {
border-right: 0 none;
width: auto;
}

html > body #content
{
min-height: 600px;
}

#wrapper {
-moz-background-clip: border;
-moz-background-inline-policy: continuous;
-moz-background-origin: padding;
background: white none repeat scroll 0 0;
}

body, #wrapper
{
background-color: #EEEEEE;
font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif;
}

form {
display: inline;
}


a:hover, a:active { color: #2A5685; }
a:hover { text-decoration: underline; }
a:hover, a:active { color: #C61A1A; text-decoration: underline; }
a, a:link, a:visited { color:#2A5685; text-decoration:none; }

table p
{
margin: 0;
}


img.delete_photo
{
border: 0;
}

li.thumbnail
{
height: 50px;
width: 60px;
overflow: hidden;
background-color: black;
border: 1px solid #5F5F5F;
display: block;
float: left;
list-style-image: none;
list-style-position: inside;
list-style-type: none;
text-align: center;
margin-left: 0px;
margin-top: 5px;
}

li.thumbnail_button
{
display: block;
float: left;
list-style-image: none;
list-style-position: inside;
list-style-type: none;
text-align: center;
margin-left: 5px;
margin-top: 5px;
}

/* Row alignment */
div.half {
float: left;
width: 50%;
}
div.row {
  clear: both;
  padding-top: 5px;
}
div.row label.label {
  float: left;
  width: 65px;
  text-align: left;
}

div.row span.formw {
  float: right;
  width: 420px;
  text-align: left;
}
div.spacer {
  clear: both;
}


