%script{ :type => 'text/javascript' }
  //<![[CDATA
  $('main').addClassName('nosidebar');
  //]]>
  
#login-form
  -form_tag do
    %table
      %tr
        %td{ :align => 'right' }
          = label_tag :email, 'Username or Email'
        %td{ :align => 'left' }
          %p
            = text_field_tag :email_or_username, nil, :size => 40
      %tr
        %td
        %td
    
      %tr
        %td{ :align => 'right' }
          = submit_tag 'Recover'