= render :partial => 'update_profile_photo',      :locals => { :user => @user }
= render :partial => 'update_personal_box',       :locals => { :user => @user }
= render :partial => 'update_demographics_box',   :locals => { :user => @user }