#error_explanation
  %h2= pluralize(error_explanation.errors.count, "error") + " prohibited this section from being saved:"
  %ul
    - error_explanation.errors.full_messages.each do |msg|
      %li= msg
