%ul
  %li= link_to t('links.new_item', :item => t('activerecord.models.section')), new_dashboard_section_path, :id => :new_section_menu_link
  - if Section.count > 0
    %li= link_to t('links.new_item', :item => t('activerecord.models.page')), new_dashboard_section_page_path(Section.first), :id => :new_page_menu_link
  %li= link_to t('links.new_item', :item => t('activerecord.models.article')), new_dashboard_article_path, :id => :new_article_menu_link
