#results
  %table
    - for section in @sections
      %tr
        %td
          = link_to_remote section.name, :update => 'section_items', :url => "/section/#{section.id}/items"

  = will_paginate @sections