%p.upload
  %label{ :for => 'upload_description' }
    Description:
  
  = f.text_field  :description, :size => 15
  
  %label{ :for => 'upload_photo' }
    Photo:
    
  = f.file_field  :photo,       :size => 15
  = f.remove_link 'Remove'