%h2 Sections

#sections_box.splitcontentleft{ :style => 'width: 66%;' }
  %p This is the sections page, here is the list of sections within your website, to watch the pages within each section, you only need to click a section name, and you will be redirected to that particular section page where you will be able to add pages, edit the section name, and adding subsections.
  %br

  #sections
    = render :partial => 'sections'
  #spinner

#tips_content.splitcontentright.box{ :style => 'width: 29%;' }
  %h3 Did you know?
  %p CloverInteractive's Clever CMS automatically creates friendly urls based on your section, subsection and page names.
  %p Apart from being user friendly, friendly urls allow you to improve your position in the most popular search engines result pages, and let you keep your pages clean and organized.

#operations_placeholder{ :style => 'display: none;'}
  %h3 Section Operations

  = link_to 'Add a new Section', new_section_path()

%script{ :type => 'text/javascript' }
  //<![[CDATA
  $('sidebar').appendChild($('operations_placeholder'));
  $('operations_placeholder').toggle();
  //]>

