= render :partial => 'subsections/subsections', :locals => { :subsections => @section.subsections, :section_id => @section.id }
= render :partial => 'pages/pages',             :locals => { :pages       => @section.pages, :section_id => @section.id }