%h3
  = !defined?(title) ? 'Pages' : title + ' Pages'

= link_to_remote 'Add Page', :update => 'rendered_items', :url => '/pages/new'

%ul
  - for page in pages
    %li
      = link_to_remote page.title, :update => 'rendered_items', :url => "/pages/#{page.id}"
