%p
  %input{ :type => 'text', :id =>'keyword_input', :style => 'width: 150px;' }
  %input{ :type => 'button', :onclick => 'addKeyWord($("keyword_input"));', :value => 'Agregar' }

%p
  %select{ :size => 4, :id => 'page_tag_list_visuals', :style => 'width: 150px;' }
    - if @page.tag_list.count >= 1
      - @page.tag_list.each do |tag|
        %option
          = tag

  = f.text_area :tag_list, :style => 'display: none;', :id => 'page_tag_list'

