%p.upload

  %label{ :for => 'upload_description' }
    Name:
  = f.text_field  :description, :size => 10
  %br
  %label{ :for => 'upload_photo' }
    File:
  = f.file_field  :upload, :size => 10, :style => 'margin-top: 5px;'

  = f.remove_link 'Remove'

