%h2 New page
#tabs
  %ul
    %li= link_to 'Page details', '#tabs-1'
    %li= link_to 'Page keywords', '#tabs-2'
    %li= link_to 'Page files', '#tabs-2'
  #tabs-1
    = render 'form'
    .spacer
  #tabs-2
    .spacer
  #tabs-3
    .spacer