%h2= 'New page'
#tabs
  %ul
    %li= link_to 'Create page', 'tabs-1'
  #tabs-1
    = render 'form'
    .spacer

%script{ :type => 'text/javascript' }
  $(document).ready(function() {
  $('#main').addClass('nosidebar');
  $('#tabs').tabs();
  $('#new_page_menu_link').addClass('selected');
  $('#accordion').accordion({ clearStyle: true, header: 'h6', collapsible: true, active: 4 });
  $('#tag_list').css('width', '170px');
  add_keywords();
  $("#page_has_contact").button( { icons: { primary: 'ui-icon-mail-closed' } } );  
  submit_button();
  });