%h2=  'Select an owner for this new Page'
%p=   'Each page must belong a rightful owner.'

%form#owner_form{ :action => '/pages/new', :method => :get }
  %h3= 'Sections'

  = select :section, :id, @sections.collect { |section| [ section.title, section.id ] }, :include_blank => true



%script{ :type => 'text/javascript' }
  $(document).ready(function() {
  $('#new_page_menu_link').addClass('selected');
  $('#section_id').change(function() {
  $('#owner_form').submit();
  });
  });

