%p SEO Title:

%p
  %select{ :name => 'page[meta_title_id]', :size => 5 }
    - metas.each do |meta|
      - if !page.meta_title_id.nil? && meta.id == page.meta_title_id
        %option{ :value => meta.id, :selected => 'selected' }
          = meta.content
      - else
        %option{ :value => meta.id }
          = meta.content

%p SEO Description:

%p
  %select{ :name => 'page[meta_description_id]', :size => 5 }
    - metas.each do |meta|
      - if !page.meta_description_id.nil? && meta.id == page.meta_description_id
        %option{ :value => meta.id, :selected => 'selected' }
          = meta.content
      - else
        %option{ :value => meta.id }
          = meta.content

