%h2 Meta Tags

#meta_tags
  = render :partial => 'metatags'
#spinner

#operations.box{ :style => 'display: none;', :name => 'operations' }
#operations_placeholder{ :style => 'display: none;' }
  %h3 Operations
  %span.icon.icon_add= link_to_remote 'New Meta Tag', :url => "/meta_tags/new", :method => :get, :update => :operations, :after => "$('operations').show();"

%script{ :type => 'text/javascript' }
  //<![[CDATA
  $('sidebar').appendChild($('operations_placeholder'));
  $('operations_placeholder').toggle();
  //]]>

