%h2 Meta Tags

#meta_tags
  = render :partial => 'metatags'

#operations_placeholder
  %h3 Operations
  %span.icon.icon_add= link_to 'New Meta Tag', new_meta_tag_path

%script{ :type => 'text/javascript' }
  $(document).ready(function() {
  $('#sidebar').append($('#operations_placeholder'));  
  });
  

