%h5
  Meta Tag Content

%p
  = @meta_tag.content

%br

%h5
  Active at:

- as_title = Array.new
- as_description = Array.new
- @meta_tag.pages_meta_title.each do |page|
  - as_title << page.title
- @meta_tag.pages_meta_description.each do |page|
  - as_description << page.title

- (as_title | as_description).each do |page|
  = page
  %br

