#you_are_at
  %h6
    You are at
    = ' ' + @section.name  + ' > ' + @subsection.name + ' > ' + @page.title

#page_content{ :style => 'float: left;' }  
  %h3
    = @page.title
  
  %p
    =fix_images_path( @page.body )
  
#pages_menu{ :style => 'float:left;margin-left: 25px;' }
  - if @subsection.pages.count > 1

    = @subsection.name
    %br
    - @subsection.pages.each do |page|
      = link_to page.title, show_subsection_page_path( :section_name => @section.name, :subsection_name => @subsection.name, :page_name => page.name )
      %br
    