@import 'resets';

body {
  color: #484848;
  background-color: #EEE;
  margin: 0px;
  padding:  0px;
}

body #wrapper {
  font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
  font-size: 11px;

  #top-menu {
    background: #000 repeat-x scroll 0 0;
    color: #FFF;
    font-size: 10px;
    height: 21px;

    #account {
      float: right;
    }

    ul {
      padding: 0 21px;
      margin: 0;

      li {
        color: #DDD;
        line-height: 21px;
        float: left;
        list-style: none;

        a {
          color: #999;
          font-weight: normal;
          padding: 4px 5px;
        }

        a:hover {
          color: white;
        }
      }
    }
  }

  #header {
    height: 7em;
    padding: 8px 8px 0;
    background-color: #333;
    position: relative;

    #main-menu {
      margin: 6px;
      bottom: 0;
      position: absolute;

      ul {
        li {
          float: left;
          list-style: none;
          margin: 0 2px 0 0;
          padding: 0;
          white-space: nowrap;

          a {
            background-color: #666;
            color: #FFF;
            font-weight: bold;
            padding: 4px 10px;
            margin: 0;
            -moz-border-radius-topright: 5px;
            -moz-border-radius-topleft: 5px;
            border-radius: 5px 5px 0px 0px;
          }

          a.selected, a:hover {
            background-color: #EEE;
            color: #000;
          }
        }
      }
    }
  }

  #main {
    background-color: #EEE;
    margin: 8px 24px;

    #content {
      background-color: #FFF;
      border-bottom: 2px solid #BBB;
      border-right: 2px solid #DDD;
      overflow: auto;
      padding: 6px 10px 10px;

      .splitcontentleft {
        float: left;
        width: 49%;
        margin-left: 10px;
        padding-bottom: 10px;
      }

      .splitcontentright {
        float: right;
        width: 49%;
        margin-right: 10px;
        padding-bottom: 10px;
      }

      label {
        display: block;
        font-size: 130%;
        font-weight: bold;
        font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
        margin: 5px 10px 10px 0px;

        small {
          color: gray;
          font-weight: lighter;
          font-size: 12px;
        }
      }

      input[type=text] {
        border: 1px solid gray;
        width: 350px;
        margin: 0px 10px 15px 0px;
        padding: 5px;
        display: block;
      }

      select {
        display: block;
        margin: 0 10px 10px 0;
        border: 1px solid lightgray;
        padding: 2px;
      }

      #images_list {
        display: block;

        img {
          padding: 5px;
          margin: 5px;
          border: 2px solid #DDD;
          background-color: #FFF;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      h2 {
        background-color: #EDF3FE;
        color: #000;
        font-size: 14px;
        margin: -6px -10px 10px;
        padding: 10px 20px;
      }
    }

    #sidebar {
      float: right;
      padding: 0 15px;
      width: 22%;

      #operations_placeholder {
        a {
          display: block;
        }
      }

      h3 {
        border-bottom: 1px solid #DCDCDC;
        padding: 6px 8px;
        color: #666;
        font-size: 14px;
        margin-top: 14px;
      }
    }
  }

  .box {
    background-color: #FCFCFC;
    border: 1px solid #E4E4E4;
    color: #505050;
    line-height: 1.5em;
    margin-bottom: 10px;
    padding: 10px;

    h3 {
      font-weight: bold;
    }
  }

  #role_box.box {
    ul li {
      list-style: none;

      label {
        display: inline;
        cursor: pointer;
        text-decoration: underline;
        font-size: 12px;
        font-weight: normal;
      }
    }
  }

  a {
    color: #2A5685;
    text-decoration: none;

    :hover {
      color: #C61A1A;
      text-decoration: underline;
    }
  }
  .spacer {
    clear: both;
  }

  h1, h2, h3, h4 {
    font-family: "Lucida Grande", arial, sans-serif;
  }

  table.list {
    border: medium none;
    border-collapse: collapse;
    margin-bottom: 4px;
    width: 100%;

    tr {
      text-align: center;
      white-space: nowrap;
    }

    tr.odd {
      background-color: #EAF7FF;
      color: #555599;
    }

    thead tr th {
      border: 1px solid none;
      font-size: 9px;
      font-weight: bolder;
      padding: 0 3px 3px;
      text-transform: uppercase;
    }

    tbody tr td {
      border-bottom: 1px solid #DDD;
      font-size: 11px;
      padding: 4px 10px 4px 3px;
    }

    tr td {
      a {
        color: #333;

        :hover {
          text-decoration: underline;
        }
      }
    }
  }

  .icon {
    background-position: 0 40%;
    background-repeat: no-repeat;
    padding: 2px 0 3px 20px;
  }

  .icon.icon_add {
    background-image: url(/images/icons/add.png);
  }

  .icon.icon_edit {
    background-image: url(/images/icons/pencil.png);
  }

  .icon.icon_delete {
    background-image: url(/images/icons/delete.png);
  }

  .icon.icon_bullet_delete {
    background-image: url(/images/icons/bullet_delete.png);
  }

  .icon.icon_bullet_pencil {
    background-image: url("/images/icons/bullet_pencil.png");
  }

  .icon.icon_bullet_page {
    background-image: url(/images/icons/bullet_page.png);
  }

  .icon.icon_page_add {
    background-image: url(/images/icons/page_add.png);
  }

  .icon.icon_page_green {
    background-image: url(/images/icons/page_green.png);
  }

  .icon.icon_back {
    background-image: url(/images/icons/resultset_previous.png);
  }
}
