#imid
  #column
    %h2.sb_header Acerca de mi
    .sidebar
      %p.center.separate= image_tag "website_images/content/photo.jpg", :alt => ""
      %p Lorem Ipsum has been the industry's standard dummy text
      %p
        %strong Likes:
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.
    .sidebar_bottom
  #content= yield