.hline2
#footer
  #contact_box.b360
    %h2 Hi, you can contact us!
    %ul
      %li
        %span.hl1 Email:
        info@cloverinteractive.com
      %li
        %span.hl1 Phone:
        7777777777
      %li
        %span.hl1 Skype:
        cloverinteractive
  #proposal_box.b360
    %h2 Submit a Proposal
    %p 
      We would love to work with you, drop us a 
      = link_to "line", "#"
      to get your project started!
  #newsletter_box.b360
    %h2 Suscribe to our newsletter

    - form_for EmailList.new, :url => "/email_lists/add_to_list", :html => { :id => "newsletter", :class => "forms_footer" } do |f|
      %label= f.text_field :email, :value => "Email", :class => "input_text"
      %label.right
        %a.button1{ :href => "javascript:void(null);" }
          %span{ :onclick => "$('#newsletter')[0].submit();" } Suscribe
    
#footer2