#imid
  #column
    %h2
      What is error
      %span.hl1=" 404?"
    %p The 404 or Not Found error message is an HTTP standard response code indicating that the client was able to communicate with the server but the server could not find what was requested.
    %p 404 errors should not be confused with "server  not found" or similar errors, in which a connection to the destination server could not be made at all. Another similar error is "410: Gone", which indicates that the requested resource has been intentionally removed and will not be available again.
    %p A 404 error indicates that the requested resource may be available in the future.
  #content= yield