= javascript_include_tag        "website_js/loopedslider.min.js"
= javascript_include_tag        "website_js/jquery.easing.1.3.js"

:javascript
  if (typeof jQuery != 'undefined') {
  $(document).ready(function() {
  $.fn.loopedSlider.defaults.addPagination = true;
  $('#slider').loopedSlider({
  autoStart:5000,
  containerClick:false
  });
  $("a#login").fancybox({
  //'overlayShow'	  :	false
  });
  });
  }

