= javascript_include_tag        "website_js/loopedslider.min.js"

/ Sexy Lightbox starts here
= javascript_include_tag        "jquery.easing.1.3.js"
= javascript_include_tag        "sexylightbox.v2.3.jquery.min.js"

%script{ :type => "text/javascript"}
  //<![[CDATA
  if (typeof jQuery != 'undefined') {
  $(document).ready(function() {
  SexyLightbox.initialize();
  $.fn.loopedSlider.defaults.addPagination = true;
  $('#slider').loopedSlider({
  autoStart:5000,
  containerClick:false
  });
  });
  }
  //]]>

