= javascript_include_tag        "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
= javascript_include_tag        "website_js/loopedslider.min.js"
%script{ :type => "text/javascript"}
  //<![[CDATA
  if (typeof jQuery != 'undefined') {  
  $(document).ready(function() {
  $.fn.loopedSlider.defaults.addPagination = true;
  $('#slider').loopedSlider({
  autoStart:5000,
  containerClick:false
  });
  });	
  }
  //]]>