#top
  #website_name
    %h1 CloverInteractive
  #navigation
    %ul#nav
      %li#crece.crece= link_to 'login', '#login_box', :id => 'login'
      
      
#login_content{ :style => 'display:none'}
  #login_box
    = render 'shared/login_box'

.hline1