= tabs_tag :open_tabs => { :id => "sub_menu", :class => "sub_nav" } do |tab|
  = tab.list_articles t('links.item_list',  :item => t('activerecord.models.article')), dashboard_articles_path
  = tab.new_article   t('links.new_item',   :item => t('activerecord.models.article')), new_dashboard_article_path
