= tabs_tag :open_tabs => { :id => "sub_menu", :class => "sub_nav" } do |tab|
  = tab.list_settings t('links.item_list',  :item => t('activerecord.models.setting')), dashboard_settings_path
  = tab.new_setting   t('links.new_item',   :item => t('activerecord.models.setting')), new_dashboard_setting_path
