%ul
  - if user_signed_in?
    / %li= link_to 'Profile',        profile_path,         :id => 'profile_menu_link'

    - if current_user.admin?
      %li= link_to 'New Section',    new_section_path,     :id => "new_section_menu_link"
      %li= link_to 'New Page',       new_page_path,        :id => "new_page_menu_link"

